<%= render 'form' %>

<% if @statuses.any? %>
  <ul>
    <% @statuses.each do |status| %>
      <li>
        <%= status.text %>
        <span class='author'><%= status.from_user %></span>
      </li>
    <% end %>
  </ul>
<% end %>
