<%= render 'form', search_term: @search_term %>

<ul class="results">
  <% @results.each do |result| %>
    <li>
      <%= result.text %>
      <span data-role="author"><%= result.from_user %></span>
    </li>
  <% end %>
</ul>
